#overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	top: 0;
	left: 0;
	z-index: 20;
}

body {
	padding: 40px;
	text-transform: uppercase;
	font-family: 'Josefin Slab', serif;
	background-color: #f8f8f8;
}


#title {
	position: fixed;
	top: 25px;
	right: 100px;
	z-index: 10;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 13px;
	color: #75adce;
}

a {
	color: #2b2b2b;
	text-decoration: none;
}


#logo {
	position: fixed;
	height: 50px;
	bottom: 40px;
	left: 45px;
}

#main-container {
	position: relative;
	height: calc(100vh - 120px);
}

#city-link-container {
	float: left;
	position: fixed;
	display: flex;
	flex-direction: row;
	top: 100px;
	right: 120px;
	z-index: 10;
}

#city-link-container-initial {
	float: left;
	position: fixed;
	top: 140px;
	left: 60px;
	z-index: 10;
	animation: left-fade 1.5s;
	-moz-animation: left-fade 1.5s; /* Firefox */
    -webkit-animation: left-fade 1.5s; /* Safari and Chrome */
    -o-animation: left-fade 1.5s; /* Opera */
}

.city-link {
	letter-spacing: 2px;
	line-height: 1;
	color: #2b2b2b;
	padding: 10px;
}

.city-link:hover {
	color: white;
	background: #15699b;
	cursor: pointer;
}

.city-link-interest {
	letter-spacing: 2px;
	line-height: 1;
	padding: 10px;
	color: white;
	background: #15699b;
}

.city-link-interest:hover {
	cursor: default;
}


#content-container {
	position: absolute;
	margin-top: 160px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item {
	height: 250px;
	width: 250px;
	margin: 5px;
	margin-right: 5px;
	margin-left: 5px;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.item:hover {
	opacity: 0.5;
	cursor:pointer;
}

.row {
	margin-top: 15px;
	height: 250px;
	text-align: center;
}

.item {
	position: relative;
	text-align: center;
}


.art, .beach, .la, .cafe {
	position: absolute;
	bottom: 8px;
	left: 16px;
	color: white;
}


img {
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}


.pic-click {
	position: fixed;
	z-index: 21;
	width: 80%;
	top: 10%;
	left: 10%;
}
